.about {
	padding-top: 0;
	padding-bottom: 80px;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 50px 50px;

		height: 482px;
		max-width: 940px;
		background-color: #38cccc;

		border-radius: 15px;
	}
}